# Getting GPS Coordinates
We are going to need the GPS coordinates of each town for the marker in the StreamLit App. We'll use the previously created function from the old script to get these.

In [1]:
import glob
import requests

import pandas as pd

## Functions

In [2]:
def query_address(Town_Name,Country):
        """
        Point of this function is to search online for the gps coordinates of each town through the file.
        """
        url = "https://nominatim.openstreetmap.org/search"
        query = Town_Name+', '+Country                
        parameters = {'q':'{}'.format(query),'format':'json'}
        
        response = requests.get(url,params=parameters)
        time.sleep(2)
        
        if response.status_code != 200:
            print('Error querying {}'.format(Town_Name))
            result = {}
        else:
            result = response.json()
            if result == []:
                if '/' in Town_Name:
                    Town_Name_slash = Town_Name.find('/')
                    Town_Name_temp = Town_Name[:Town_Name_slash]
                    query = Town_Name_temp+','+Country
                    parameters = {'q':'{}'.format(query),'format':'json'}
                    response = requests.get(url,params=parameters)
                    time.sleep(1)
                    result=response.json()
                    if result == []:
                        Town_Name_temp = Town_Name[Town_Name_slash:]
                        query = Town_Name_temp+','+Country
                        parameters = {'q':'{}'.format(query),'format':'json'}
                        response = requests.get(url,params=parameters)
                        time.sleep(1)
                        result=response.json()
                        if result == []:
                            print('Error: Town Name has not been found. Need to manually look up and input.')
                            lat = float(input('Enter latitude of '+ Town_Name+': '))
                            long = float(input('Enter longitude of '+ Town_Name+': '))
                            GPS_temp = [lat,long]
                            return GPS_temp                    
                else:
                      print('Error: Town Name has not been found. Need to manually look up and input.')
                      lat = float(input('Enter latitude of '+ Town_Name+': '))
                      long = float(input('Enter longitude of '+ Town_Name+': '))
                      GPS_temp = [lat,long]
                      return GPS_temp
               
        dictionary = result[0]
        lat = float(dictionary['lat'])
        long = float(dictionary['lon'])
        GPS_temp = [lat,long]
#            print(GPS_temp)
            
        return GPS_temp

## Importing Data and Testing

In [3]:
data_dir = 'C:/Users/dorya/Documents/UFO_Project/data/csvs'

In [4]:
csv_files = glob.glob(f'{data_dir}/*.csv')

In [6]:
csv_file = csv_files[0]

In [10]:
df = pd.read_csv(csv_file, index_col = 0)
df.head()

,Date,Time,Town / Village,Area,Occupation\r(Where Relevant),Description,06-Jan-09,21:00,Northampton,Northamptonshire,...,07-Nov-09,22:00,Peterborough,Cambridgeshire,No details given. Two separate messages left asking to be\rcontacted.,14-Nov-09,18:05,Shrewsbury,Shropshire,"Bright light hovering in the sky, three parts, one was red appeared\rfor 45 minutes before it disappeared."
0,Jan-09,Not Given,Warwick,Warwickshire,Air Traffic Control\remployee,An orange glowing object with a red light on t...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Jan-09,Not Given,Not Given,North Yorkshire,NaN,"Very curious. A very bright light, four times ...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Jan-09,Not Given,Carterton,Oxfordshire,Air Traffic Control\remployee,A very bright constant red light.,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Jan-09,Not Given,High Wycombe,Buckinghamshire,NaN,been outside the individuals house for some ni...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Jan-09,Not Given,Sawtry,Cambridgeshire,NaN,A UFO.,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN